/* ==================================================
  * Template: Examople Web
  * Version:  1
  * Date:     13/02/2021
===================================================== */


/*==================================================*/
             /* [Table of contents] */
/*==================================================*/

/*	
    1. Header Aarea
        a. Logo 
        b. Navber
        c. Banar
    2. Team Area
    3. Skills Area
    4. Portfolio Area
    5. Contact Area
    6. About Area
    7. Gallary Area
    8. Footer Area
*/

/* =====================================
    Typography
===================================== */


html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


h2{
    color: #BE5C33;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    max-width: 55%;
    margin: 0 auto 10px;
    text-align: center;
}

h5{
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
}

p{
    font-size: 17px;
    text-align: center;
    max-width: 75%;
    margin: 0 auto 100px;
}

.margin{
    border: 1px solid #c3998798;
    max-width: 30%;
    margin: 0 auto;
}

.team-area,
.about-area,
.gallary-area,
.portfolio-area,
.contact-area{
    padding: 100px 0;
}


/* =====================================
          1. Header Aarea
========================================*/

.header-area .contai{
    max-width: 94%;
    margin: 0 auto;
}

.header-area .logo{
    padding: 25px 0;
}
.header-area .logo h1{
    font-size: 17px;
    text-transform: uppercase;
    color: #F8B398;
    font-weight: 500;
    float: left;
}
.top-area {
	overflow: hidden;
}
.header-area .logo {
    overflow: hidden;
}

.header-area .logo .bars{
    float: right;
    display: none;
    font-size: 25px;
}

.header-area .midle-area{
    background-color: #898E8F;
}

.header-area .main-menu ul a{
    display: block;
    padding: 16px ;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #E3E1E2;
    transition: .3s;
}

.header-area .main-menu ul a:hover{
    background-color: #9ac9d7;
    color: #45494C;
}

.header-area .bottom-area{
    background-image: url(images/banar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    position: relative;
    z-index: 1;
}

.header-area .bottom-area::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-area .bottom-area .content{
    position: absolute;
    right: 8%;
    bottom: 8%;
}

.header-area .bottom-area h1{
    color: #Ffff;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.header-area .bottom-area h2{
    color: tomato;
    font-size: 33px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}




/* =====================================
          2. Team Area
========================================*/
.team-area {
    overflow: hidden;
}

.team-area p{
    margin-top: 50px;
    margin-bottom: 100px;
}

.team-area article img{
    width: 100%;
}

.team-area article h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 0;
}


.team-area article p{
    font-size: 15px;
    margin: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}


/* =====================================
             3. Skills Area
========================================*/

.skills-area {
    background-color: #072D35;
    padding: 60px 0;
}

.skills-area .box{
    text-align: center;
}

.skills-area .counter{
    color: #975338;
    font-size: 50px;
    font-family:Georgia ;
    font-weight:bold;
}

.skills-area .box p{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 0 auto;
}


/* =====================================
        4. Portfolio Area
========================================*/
.portfolio-area h2{
    max-width: 55%;
    margin: 0 auto ;
    text-align: center;
    text-transform: uppercase;
}

.portfolio-area p{
    margin: 50px auto 50px;
    text-align: center;
}

.circle-chart {
    width: 150px;
    height: 150px;
  }
  
  .circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  .circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
  }
  
  .circle-chart__subline {
      text-anchor: middle;
      font-size: 3px;
  }
  
  .success-stroke {
    stroke: #00C851;
  }
  
  .warning-stroke {
    stroke: #ffbb33;
  }
  
  .danger-stroke {
    stroke: #ff4444;
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  /* =====================================
          5. Contact Area
========================================*/
.contact-area {
    background: linear-gradient(#173C46, #25454D);
    overflow: hidden;
}

.contact-area h2{
    max-width: 55%;
    margin: 0 auto;
    color: #fff;
}


.contact-area p{
    color: #B6B8B8;
    max-width: 40%;
    margin: 50px auto ;
}

.contact-area input{
    color: #B6B8B8;
    width: 30%;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #758386;
    margin-right: 2px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.contact-area input[type="email"] {
    width: 63%;
}

.contact-area select{
    width: 30%;
    color: #B6B8B8;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #758386;
    margin-left: 2pc;
    padding: 10px 0;
    margin-bottom: 20px;
}

.contact-area .rows{
    display: flex;
    justify-content: center;
}

.contact-area .rows textarea{
    background-color: transparent;
    width: 63%;
    border: transparent;
    color: #B6B8B8;
    padding: 50px;
    border-bottom: 1px solid  #758386;
}

.contact-area .buttons{
    max-width: 63%;
    display: block;
    margin: 0 auto;
}

.contact-area .buttons a{
    max-width: 300px;
    color: #fff;
    background-color: #995537;
    padding: 15px 40px;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid #6F3219;
    margin: 30px 0 0;
    float: right;
}



  /* =====================================
            6. About Area
========================================*/

.about-area{
    overflow: hidden;
}

.about-area .content img{
    width: 100%;
}

.about-area article{
    border: 1px solid rgb(184, 184, 184);
    text-align: center;
    padding: 20px;
    overflow: hidden;
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
}

.about-area article h3{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.about-area article p{
    max-width: 80%;
    font-size: 14px;
    margin: 20px auto;
    color: #6D6D6D;
}

.about-area article img{
    width: 70%;
    border-radius: 50%;
    margin: 20px auto 0;
}

.about-area article span{
    border: 2px solid rgb(65, 65, 65);
    padding: 10px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
}


.about-area article span::after{
    content: '';
    position: absolute;
    height: 20px;
    border: 1px solid  rgb(65, 65, 65);
    background-color: #000;
    bottom: 100%;
    right: 50%;
}



  /* =====================================
            7. Gallary Area
========================================*/
.gallary-area{
    padding: 0;
    overflow: hidden;
}

.gallary-area .owl-carouse{
    position: relative;
}

.gallary-area .owl-carousel .owl-nav{
    font-size: 25px;
}

.gallary-area .bottom{
    background-color: #D7D7D7;
    padding-bottom: 60px;
}

.gallary-area .owl-carousel .owl-prev,
.gallary-area .owl-carousel .owl-next{
    position: absolute;
    width: 40px ;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    background-color: #999;
}

.gallary-area .owl-carousel .owl-prev{
    left: 50px;
}

.gallary-area .owl-carousel .owl-next{
    right: 50px;
}


  /* =====================================
           8. Footer Area
========================================*/


.footer-area .top{
    background-color: #062830;
    color: #fff;
    padding: 50px 0;
    overflow: hidden;
}

.footer-area .top p{
    max-width: 100%;
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.footer-area .top .top{
    padding: 10px;
}

.footer-area .top .left{
    display: inline;
    float: left;
    margin: 10px 10px 0 0;
}

.footer-area .top .left i{
    transform: rotate(90deg);
}

.footer-area .top .right{
    display: inline;
    float: left;
    font-size: 12px;
    max-width: 50%;
}

.footer-area .top .bottom .left i{
    transform: rotate(0deg);
}


.footer-area>.bottom{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-area>.bottom p{
    margin: 0;
    display: inline;
    float: left;
    font-size: 16px;
}

.footer-area>.bottom {
    overflow: hidden;
}
.footer-area>.bottom ul{
    display: flex;
    list-style: none;
    float: right;
}

.footer-area>.bottom ul i{
    display: block;
    padding: 5px;
    margin: 0 2px;
}



/* ======= Ends ======== */
